body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    border: solid 1px #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 5%;
    min-width: 90%;
    min-height: 90%;
  }  
}
@media only screen and (min-width: 769px) {
  .container {
    border: solid 1px #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 25%;
    min-width: 50%;
    min-height: 50%;
    font-size: 2rem;
  }

}

#table-imc {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  border: 1px solid #000000
}

#table-imc th, #table-imc td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

.error-message, .required {
  color: tomato;
  font-weight: bold;
}

.destaque-imc {
  background-color: #ff0000;
  font-weight: bold;
}

.data {
  display: inline-block;
  text-align: left;
  padding: 20px 80px 20px 80px;
}

.data label {
  font-weight: bold;
}

.data input {
  float: right;
}

.data .card-input {
  clear: both;
}

.data .form .card-button {
  display: flex;
  justify-content: flex-end;
}

.data .form button {

  margin-top: 2em;
  display: inline;
  background-color: #3B64CE;
  border: 1px solid #3B64CE;
  color: #FFF;
  min-width: 50px;
  text-align: center;
  border-radius: 4px;
}

.data .form button:hover {
  background-color: #3b65ced8;
  border: 1px solid #3b65ced8;
  box-shadow: 1.5px 1.5px 2px #4472e7;
}

.data .form button:active {
  background-color: #3b65ced8;
  border: 1px solid #3b65ced8;
  box-shadow: 1.5px 1.5px 2px #4472e7;
}